# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.5
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.test("Records"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("Records")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
